In [1]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
import pandas as pd

# Data Load

In [7]:
df_raw = pd.read_csv("../data/fraud_oracle.csv")
df = df_raw.copy()

# Basic EDA

## Each Column View

In [13]:
df.shape

(15420, 33)

In [17]:
df.index

RangeIndex(start=0, stop=15420, step=1)

In [14]:
df.columns

Index(['Month', 'WeekOfMonth', 'DayOfWeek', 'Make', 'AccidentArea',
       'DayOfWeekClaimed', 'MonthClaimed', 'WeekOfMonthClaimed', 'Sex',
       'MaritalStatus', 'Age', 'Fault', 'PolicyType', 'VehicleCategory',
       'VehiclePrice', 'FraudFound_P', 'PolicyNumber', 'RepNumber',
       'Deductible', 'DriverRating', 'Days_Policy_Accident',
       'Days_Policy_Claim', 'PastNumberOfClaims', 'AgeOfVehicle',
       'AgeOfPolicyHolder', 'PoliceReportFiled', 'WitnessPresent', 'AgentType',
       'NumberOfSuppliments', 'AddressChange_Claim', 'NumberOfCars', 'Year',
       'BasePolicy'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15420 entries, 0 to 15419
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Month                 15420 non-null  object
 1   WeekOfMonth           15420 non-null  int64
 2   DayOfWeek             15420 non-null  object
 3   Make                  15420 non-null  object
 4   AccidentArea          15420 non-null  object
 5   DayOfWeekClaimed      15420 non-null  object
 6   MonthClaimed          15420 non-null  object
 7   WeekOfMonthClaimed    15420 non-null  int64
 8   Sex                   15420 non-null  object
 9   MaritalStatus         15420 non-null  object
 10  Age                   15420 non-null  int64
 11  Fault                 15420 non-null  object
 12  PolicyType            15420 non-null  object
 13  VehicleCategory       15420 non-null  object
 14  VehiclePrice          15420 non-null  object
 15  FraudFound_P          15420 non-null  int64
 16  PolicyNumber          15420 non-null  int64
 17  RepNumber             15420 non-null  int64
 18  Deductible            15420 non-null  int64
 19  DriverRating          15420 non-null  int64
 20  Days_Policy_Accident  15420 non-null  object
 21  Days_Policy_Claim     15420 non-null  object
 22  PastNumberOfClaims    15420 non-null  object
 23  AgeOfVehicle          15420 non-null  object
 24  AgeOfPolicyHolder     15420 non-null  object
 25  PoliceReportFiled     15420 non-null  object
 26  WitnessPresent        15420 non-null  object
 27  AgentType             15420 non-null  object
 28  NumberOfSuppliments   15420 non-null  object
 29  AddressChange_Claim   15420 non-null  object
 30  NumberOfCars          15420 non-null  object
 31  Year                  15420 non-null  int64
 32  BasePolicy            15420 non-null  object
dtypes: int64(9), object(24)
memory usage: 3.9+ MB

In [22]:
for i in df.columns:
    print(i)
    print(df[i].unique())
    print(f'nunique : {df[i].nunique()}')
    print(df[i].isnull().sum())
    print(df[i].dtype)
    print("")

Month
['Dec' 'Jan' 'Oct' 'Jun' 'Feb' 'Nov' 'Apr' 'Mar' 'Aug' 'Jul' 'May' 'Sep']
nunique : 12
0
object

WeekOfMonth
[5 3 2 4 1]
nunique : 5
0
int64

DayOfWeek
['Wednesday' 'Friday' 'Saturday' 'Monday' 'Tuesday' 'Sunday' 'Thursday']
nunique : 7
0
object

Make
['Honda' 'Toyota' 'Ford' 'Mazda' 'Chevrolet' 'Pontiac' 'Accura' 'Dodge'
 'Mercury' 'Jaguar' 'Nisson' 'VW' 'Saab' 'Saturn' 'Porche' 'BMW' 'Mecedes'
 'Ferrari' 'Lexus']
nunique : 19
0
object

AccidentArea
['Urban' 'Rural']
nunique : 2
0
object

DayOfWeekClaimed
['Tuesday' 'Monday' 'Thursday' 'Friday' 'Wednesday' 'Saturday' 'Sunday'
 '0']
nunique : 8
0
object

MonthClaimed
['Jan' 'Nov' 'Jul' 'Feb' 'Mar' 'Dec' 'Apr' 'Aug' 'May' 'Jun' 'Sep' 'Oct'
 '0']
nunique : 13
0
object

WeekOfMonthClaimed
[1 4 2 3 5]
nunique : 5
0
int64

Sex
['Female' 'Male']
nunique : 2
0
object

MaritalStatus
['Single' 'Married' 'Widow' 'Divorced']
nunique : 4
0
object

Age
[21 34 47 65 27 20 36  0 30 42 71 52 28 61 38 41 32 40 63 31 45 60 39 55
 35 44 72 29 37 59 49 50 26 48 64 33 74 23 25 56 16 68 18 51 22 53 46 43
 57 54 69 67 19 78 77 75 80 58 73 24 76 62 79 70 17 66]
nunique : 66
0
int64

Fault
['Policy Holder' 'Third Party']
nunique : 2
0
object

PolicyType
['Sport - Liability' 'Sport - Collision' 'Sedan - Liability'
 'Utility - All Perils' 'Sedan - All Perils' 'Sedan - Collision'
 'Utility - Collision' 'Utility - Liability' 'Sport - All Perils']
nunique : 9
0
object

VehicleCategory
['Sport' 'Utility' 'Sedan']
nunique : 3
0
object

VehiclePrice
['more than 69000' '20000 to 29000' '30000 to 39000' 'less than 20000'
 '40000 to 59000' '60000 to 69000']
nunique : 6
0
object

FraudFound_P
[0 1]
nunique : 2
0
int64

PolicyNumber
[    1     2     3 ... 15418 15419 15420]
nunique : 15420
0
int64

RepNumber
[12 15  7  4  3 14  1 13 11 16  6  2  8  5  9 10]
nunique : 16
0
int64

Deductible
[300 400 500 700]
nunique : 4
0
int64

DriverRating
[1 4 3 2]
nunique : 4
0
int64

Days_Policy_Accident
['more than 30' '15 to 30' 'none' '1 to 7' '8 to 15']
nunique : 5
0
object

Days_Policy_Claim
['more than 30' '15 to 30' '8 to 15' 'none']
nunique : 4
0
object

PastNumberOfClaims
['none' '1' '2 to 4' 'more than 4']
nunique : 4
0
object

AgeOfVehicle
['3 years' '6 years' '7 years' 'more than 7' '5 years' 'new' '4 years'
 '2 years']
nunique : 8
0
object

AgeOfPolicyHolder
['26 to 30' '31 to 35' '41 to 50' '51 to 65' '21 to 25' '36 to 40'
 '16 to 17' 'over 65' '18 to 20']
nunique : 9
0
object

PoliceReportFiled
['No' 'Yes']
nunique : 2
0
object

WitnessPresent
['No' 'Yes']
nunique : 2
0
object

AgentType
['External' 'Internal']
nunique : 2
0
object

NumberOfSuppliments
['none' 'more than 5' '3 to 5' '1 to 2']
nunique : 4
0
object

AddressChange_Claim
['1 year' 'no change' '4 to 8 years' '2 to 3 years' 'under 6 months']
nunique : 5
0
object

NumberOfCars
['3 to 4' '1 vehicle' '2 vehicles' '5 to 8' 'more than 8']
nunique : 5
0
object

Year
[1994 1995 1996]
nunique : 3
0
int64

BasePolicy
['Liability' 'Collision' 'All Perils']
nunique : 3
0
object

자료형은 다음 다섯 가지로 나눈다.

* conti
* count
* ord
* mul
* bin

이외, id type, FK type 등 생각하자. 상황 딸...


그 외, 데이터의 저장 형식은 다양하게 있겠지. 
int64 등... 둘 다 구분해 쓰기.

* Month/WeekOfMonth/DayOfWeek : Jan~Dec, 1~5, Sunday~Saturday
* Make : Maker. categorical-Multinomial
* AccidentArea : 도시/시골. categorical-binary
* MonthClaimed/DayOfWeekClaimed/WeekOfMonthClaimed : 요일. 특이하게 0이 존재. womc에는 없음. 
* sex : 생물학적 성. categorical-binary
* MartialStatus : 결혼 상태. cat-bin
* Fault : 피해자 존재시 fault. third party면 제3자인 의미. categorical-bin
* Age : 나이. conti.
* PolicyType : 잘 모르겠음. 의미 공부해 볼 필요 있음. cat-multi. 두 가지 분류로 잘라서 정규화할 필요도 있을 듯?
* VehiclePrice : 가격. conti가 ordered data로 정리되어 있음. 
* FraudFound : 1이면 사기, 0이면 사기 아님. 
* PolicyNumber : id
* RepNumber : 잘 모르겠음 
* Deductible : 잘 모름
* DriverRating : 운전자 평가. cat-mul
* Days_Policy_Accident : 사고날 총 사고 수? cat-ord
* Days_Policy_Claim : ? cat-ord
* PastNumberOfClaims : 보험자의 과거 청구 건수. cat-ord
* AgeOfVehicle : 차 나이. cat-ord
* AgeOfPolicyHolder : 연령. cat-ord
* PoliceReportFiled : 경찰 연락 여부. cat-bin
* WitnessPresent : 증인 존재 여부. bin.
* AgentType: bin.
* NumberOfSuppliments : ord.
* AddressChange_Claim : 가입-청구 기간. cat.
* NumberOfCars : 가진 차의 수. ord.
* Year : 발생연도. 1994-1996.
* BasePolicy : 계약 유형. 모두 보장? 등등. cat.

## Basic Skim

In [10]:
df.head()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,3 years,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,6 years,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,7 years,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,more than 7,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability
4,Jan,5,Monday,Honda,Urban,Tuesday,Feb,2,Female,Single,...,5 years,31 to 35,No,No,External,none,no change,1 vehicle,1994,Collision

In [18]:
df.describe()

,WeekOfMonth,WeekOfMonthClaimed,Age,FraudFound_P,PolicyNumber,RepNumber,Deductible,DriverRating,Year
count,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000
mean,2.788586,2.693969,39.855707,0.059857,7710.500000,8.483268,407.704280,2.487808,1994.866472
std,1.287585,1.259115,13.492377,0.237230,4451.514911,4.599948,43.950998,1.119453,0.803313
min,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,300.000000,1.000000,1994.000000
25%,2.000000,2.000000,31.000000,0.000000,3855.750000,5.000000,400.000000,1.000000,1994.000000
50%,3.000000,3.000000,38.000000,0.000000,7710.500000,8.000000,400.000000,2.000000,1995.000000
75%,4.000000,4.000000,48.000000,0.000000,11565.250000,12.000000,400.000000,3.000000,1996.000000
max,5.000000,5.000000,80.000000,1.000000,15420.000000,16.000000,700.000000,4.000000,1996.000000

In [19]:
df.value_counts()

Month  WeekOfMonth  DayOfWeek  Make     AccidentArea  DayOfWeekClaimed  MonthClaimed  WeekOfMonthClaimed  Sex     MaritalStatus  Age  Fault          PolicyType            VehicleCategory  VehiclePrice     FraudFound_P  PolicyNumber  RepNumber  Deductible  DriverRating  Days_Policy_Accident  Days_Policy_Claim  PastNumberOfClaims  AgeOfVehicle  AgeOfPolicyHolder  PoliceReportFiled  WitnessPresent  AgentType  NumberOfSuppliments  AddressChange_Claim  NumberOfCars  Year  BasePolicy
Apr    1            Friday     Honda    Rural         Monday            Apr           1                   Female  Married        33   Third Party    Sedan - Collision     Sedan            20000 to 29000   0             12276         16         400         3             more than 30          more than 30       1                   5 years       31 to 35           No                 No              External   none                 no change            1 vehicle     1996  Collision     1
May    1            Friday     VW       Urban         Friday            Jun           4                   Male    Single         28   Policy Holder  Sedan - Collision     Sedan            more than 69000  0             7231          12         400         4             more than 30          more than 30       2 to 4              6 years       31 to 35           No                 No              External   more than 5          no change            1 vehicle     1995  Collision     1
Mar    5            Wednesday  Ford     Urban         Friday            Mar           5                   Female  Married        38   Third Party    Sedan - Liability     Sport            60000 to 69000   0             8370          5          400         4             more than 30          more than 30       2 to 4              7 years       36 to 40           No                 No              External   more than 5          no change            1 vehicle     1995  Liability     1
                                                      Monday            Apr           1                   Male    Married        53   Policy Holder  Utility - All Perils  Utility          more than 69000  0             7225          7          400         1             more than 30          more than 30       1                   more than 7   41 to 50           No                 No              External   none                 4 to 8 years         2 vehicles    1995  All Perils    1
                                                      Wednesday         Apr           1                   Male    Married        34   Third Party    Sedan - All Perils    Sedan            more than 69000  0             10618         4          400         3             8 to 15               more than 30       1                   6 years       31 to 35           No                 No              External   none                 no change            1 vehicle     1995  All Perils    1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ..
Jan    1            Thursday   Pontiac  Urban         Monday            Jan           2                   Male    Single         32   Policy Holder  Sedan - Liability     Sport            30000 to 39000   0             10427         15         400         1             more than 30          more than 30       more than 4         6 years       31 to 35           No                 No              External   3 to 5               no change            1 vehicle     1995  Liability     1
                                                                                                                                 33   Third Party    Sedan - All Perils    Sedan            20000 to 29000   0             5357          8          400         2             more than 30          more than 30       none                6 years       31 to 35           No                 No              External   none                 no change            1 vehicle     1994  All Perils    1
                                                      Thursday          Jan           2                   Male    Single         29   Policy Holder  Sedan - Liability     Sport            20000 to 29000   0             7055          7          400         2             more than 30          more than 30       none                6 years       31 to 35           No                 No              External   more than 5          no change            1 vehicle     1995  Liability     1
                                                      Tuesday           Jan           4                   Male    Single         25   Policy Holder  Sedan - All Perils    Sedan            less than 20000  0             8741          13         400         2             more than 30          more than 30       none                5 years       26 to 30           No                 No              External   none                 no change            1 vehicle     1995  All Perils    1
Sep    5            Wednesday  Toyota   Urban         Tuesday           Oct           1                   Male    Married        60   Policy Holder  Sedan - Collision     Sedan            20000 to 29000   0             1865          10         400         1             more than 30          more than 30       1                   more than 7   51 to 65           No                 No              External   1 to 2               no change            1 vehicle     1994  Collision     1
Name: count, Length: 15420, dtype: int64